---
- name: Setup SonarQube Only
  hosts: devops_server
  become: true
  pre_tasks:
    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: true
        cache_valid_time: 3600

  roles:
    - common
    - docker
    - sonarqube
